# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- Introduction to Rstudio.
- Introduction to Jupyter Notebooks.
- Discovering libraries for Data Science.

Some of the popular languages that Data Scientists use are:
1. SQL
2. R
3. Python

Some of the commonly used libraries used by Data Scientists include:
1. Pandas 
2. NumPy
3. Scikit-Learn

|Data Science Tools|
|---|
|Spark|
|SAS|
|MLFlow|

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [7]:
#This will convert 200 minutes to hours by diving by 60, I wanted a whole number of hours
200//60

3

## Author
Arron